<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PostPlane{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">
    <nav class="bg-white shadow p-4 mb-6">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'post_list' %}" class="text-xl font-bold">Blog</a>
        </div>
    </nav>

    <main class="container mx-auto px-4">
        {% block content %}{% endblock %}
    </main>

    
</body>
</html>
