
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HOME{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="Style.css">
    {% block extrahead %}{% endblock extrahead %}
</head>
<body class="flex flex-col min-h-screen bg-gray-100 font-sans antialised">

    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold">Blog</h1><br>
            <ul class="nav-menu">
                <li><a href="/home" class="active text-white hover:underline "  >Home</a></li>
                <li><a href="/contact" class=" text-white hover:underline" >Contact</a></li>
            </ul>

        </div>
        <div>
            <a href="#" class="text-white hover:underline">logout</a>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>









